*{
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
}
.xbs{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(129, 153, 147, 0.39),rgba(101, 17, 109, 0.336)),url(images/pexels-terrance-barksdale-11924647.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35PX 0;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #0e7291dc;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s
    
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}
.content h1{
    font-size: 50px;
    margin-top: 70px;
    font-family:PT Serif;
    font-weight: 700;
   color:#fffffff5

}
.content h4{
    font-size: 22px;
    margin-top: 1px;
    font-weight: 400px;
    font-family:PT serif ital;
}
.content p{
    margin: 10px;
    font-family: robot;
    font-size: 20px;
    font-weight:300;
    line-height: 25px;
    color:#ffff00;
 

}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 23px;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid #96000c;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background: #aa3c11;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    
}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
}